<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Members' List</title>

<link rel="stylesheet" th:src="@{js/script.js}"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"
	rel="stylesheet">

</head>

<style>
.navtext {
	font-family: 'Merriweather', serif;
	font-size: 18px;
	text-align: justify;
	/* font-weight: bold;*/
}

.foottext {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	text-align: justify;
	/* font-weight: bold;*/
}
</style>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-info navtext">
		<div class="container">
			<div>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarText" aria-controls="navbarText"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

			</div>
			<div class="collapse navbar-collapse " id="navbarText">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link" th:href="@{/}">HOME
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/authors}">AUTHORS</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/books/findBook}">BOOKS</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/loans}">LOANS</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/members/findMember}">MEMBERS</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/fines}">FINES</a></li>

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAuthenticated()" th:href="@{/profile}">My
							Profile/Sign out</a></li>
				</ul>
				<span class="navbar-text ml-auto navbar-dark">
					<h1>LIBRARY</h1>
				</span>
			</div>
		</div>
	</nav>



	<div class="container my-3">
		<div class="card ">
			<div class="card-body">

				<h3>Members</h3>
				<br>


				<div th:if="${totalPages > 1}">
					<div class="row col-sm-10">
						<div class="col-sm-2">Total Rows: [[${totalItems}]]</div>
						<div class="col">
							<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
								th:if="${currentPage != i}"
								th:href="@{'/members' + '/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
								<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
								&nbsp;
							</span>
						</div>
						<div class="col-sm-1">
							<a th:if="${currentPage < totalPages}"
								th:href="@{'/members' + '/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
							<span th:unless="${currentPage < totalPages}">Next</span>
						</div>

						<div class="col-sm-1">
							<a th:if="${currentPage < totalPages}"
								th:href="@{'/members' + '/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
							<span th:unless="${currentPage < totalPages}">Last</span>
						</div>
					</div>
				</div>
				<br>


             <div class="table-responsive">
				<table id="members" class="table table-striped">
					<thead>
						<tr>
							<th><a
								th:href="@{'/members' + '/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">id</a></th>
							<th><a
								th:href="@{'/members' + '/page/' + ${currentPage} + '?sortField=cardID&sortDir=' + ${reverseSortDir}}">Card
									ID</a></th>
							<th><a
								th:href="@{'/members' + '/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Name</a></th>
							<th><a
								th:href="@{'/members' + '/page/' + ${currentPage} + '?sortField=surname&sortDir=' + ${reverseSortDir}}">Surname</a></th>
							<th><a
								th:href="@{'/members' + '/page/' + ${currentPage} + '?sortField=embg&sortDir=' + ${reverseSortDir}}">EMBG</a></th>
							<!-- <th><a
								th:href="@{'/members' + '/page/' + ${currentPage} + '?sortField=address&sortDir=' + ${reverseSortDir}}">Address</a></th> -->
							<th><a
								th:href="@{'/members' + '/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">Email</a></th>
							<th><a
								th:href="@{'/members' + '/page/' + ${currentPage} + '?sortField=phone&sortDir=' + ${reverseSortDir}}">Phone</a></th>
							<!-- <th><a
								th:href="@{'/members' + '/page/' + ${currentPage} + '?sortField=membershipFee&sortDir=' + ${reverseSortDir}}">Fee</a></th>
							<th><a
								th:href="@{'/members' + '/page/' + ${currentPage} + '?sortField=joinDate&sortDir=' + ${reverseSortDir}}">Date of Join</a></th>
							<th><a
								th:href="@{'/members' + '/page/' + ${currentPage} + '?sortField=joinDate&sortDir=' + ${reverseSortDir}}">Year of mem.</a></th>
							 -->
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="member : ${listMembers}">
							<td th:text="${member.id}"></td>
							<td th:text="${member.cardID}"></td>
							<td th:text="${member.name}"></td>
							<td th:text="${member.surname}"></td>
							<td th:text="${member.embg}"></td>
							<!-- <td th:text="${member.address}"></td> -->
							<td th:text="${member.email}"></td>
							<td th:text="${member.phone}"></td>
							<!-- <td th:text="${member.membershipFee}"></td>
							<td th:text="${member.joinDate}"></td>
							<td th:text="${member.yearOfMembership}"></td> -->



							<td><a
								th:href="@{/members/viewMemberDetails/{id}(id=${member.id})}">Details</a>&nbsp;&nbsp;&nbsp;
								<a
								th:href="@{/members/showUpdateMemberForm/{id}(id=${member.id})}">Update</a>&nbsp;&nbsp;&nbsp;
								<a th:href="@{/members/deleteMember/{id}(id=${member.id})}"
								style="color: #FF0000;">Delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>

				<br> <a th:href="@{/members/showNewMemberForm}"
					class="btn btn-info float-right">Add Member</a>
				<!-- Button for new Member -->
				<br>
				<br>



				<div th:if="${totalPages > 1}">
					<div class="row col-sm-10">
						<div class="col-sm-2">Total Rows: [[${totalItems}]]</div>
						<div class="col">
							<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
								th:if="${currentPage != i}"
								th:href="@{'/members' + '/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
								<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
								&nbsp;
							</span>
						</div>
						<div class="col-sm-1">
							<a th:if="${currentPage < totalPages}"
								th:href="@{'/members' + '/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
							<span th:unless="${currentPage < totalPages}">Next</span>
						</div>

						<div class="col-sm-1">
							<a th:if="${currentPage < totalPages}"
								th:href="@{'/members' + '/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
							<span th:unless="${currentPage < totalPages}">Last</span>
						</div>
					</div>
				</div>




			</div>
		</div>
		<br>
		<br>
	</div>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>

<footer class="fixed-bottom">
	<!-- Copyright -->
	<div class="text-center bg-info text-dark p-3 foottext">&copy;
		2021 City Library</div>
	<!-- Copyright -->
</footer>
</html>