<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Profile</title>

<link rel="stylesheet" th:src="@{js/script.js}"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap"
	rel="stylesheet">

</head>

<style>
.navtext {
	font-family: 'Merriweather', serif;
	font-size: 18px;
	text-align: justify;
	/* font-weight: bold;*/
}

.foottext {
	font-family: 'Merriweather', serif;
	font-size: 14px;
	text-align: justify;
	/* font-weight: bold;*/
}
</style>
<body>



	<nav class="navbar navbar-expand-lg navbar-dark bg-info navtext">
		<div class="container">

			<!-- <div>
			<img src="src/main/resources/static/Book.jpg" th:src="@{Book.jpg}"
				alt="Logo Library" width="104" height="70" />
		</div> -->


			<div>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarText" aria-controls="navbarText"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

			</div>
			<div class="collapse navbar-collapse " id="navbarText">
				<ul class="navbar-nav">

					<li class="nav-item active"><a class="nav-link" th:href="@{/}">HOME
							<span class="sr-only">(current)</span>
					</a></li>

					<li class="nav-item"><a class="nav-link" th:href="@{/authors}">AUTHORS</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/books/findBook}">BOOKS</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/loans}">LOANS</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/members/findMember}">MEMBERS</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/fines}">FINES</a></li>

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAuthenticated()" th:href="@{/profile}">My
							Profile</a></li>

				</ul>
				<span class="navbar-text ml-auto navbar-dark">
					<h1>LIBRARY</h1>
				</span>
			</div>
		</div>
	</nav>


	<div id="container">
		<br>



		<!-- Main Content -->
		<div id="body">
			<div class="container page-content user-form">
				<div class="row">
					<div class="col-md-4 col-lg-3">
						<div class="card">
							<div class="card-body text-center">
								<img src="/images/user/profile-pic.png" width="100" height="100"
									alt="User" class="rounded-circle mb-3">
								<h5 class="bold mb-0"
									th:text="${#strings.capitalize(user.username)}"></h5>
							</div>
							<div class="list-group list-group-flush">
								<a th:href="@{/profile}"
									class="list-group-item list-group-item-action active"><i
									data-feather="user" class="mr-3"></i>Profile</a>

								<!-- <a th:href="@{/orders}" class="list-group-item list-group-item-action"><i data-feather="shopping-bag" class="mr-3"></i>Orders</a>
								<a th:href="@{/address}" class="list-group-item list-group-item-action"><i data-feather="map" class="mr-3"></i>Address</a> -->

								<a th:href="@{/logout}"
									class="list-group-item list-group-item-action text-danger"><i
									data-feather="log-out" class="mr-3"></i>Sign Out</a>
							</div>
						</div>
					</div>

					<div class="col mt-3 mt-md-0">
						<div th:if="${updateSuccess}"
							class="alert alert-success alert-dismissible fade show"
							role="alert">
							<strong>Profile updated!</strong>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div th:if="${incorrectPassword}"
							class="alert alert-danger alert-dismissible fade show"
							role="alert">
							<strong>Incorrect password</strong>
							<button type="button" class="close" data-dismiss="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<!--  Profile Card -->
						<div class="card">
							<div class="card-body">
								<h3>My Profile</h3>
								<hr>
								<form id="profileForm" th:action="@{/update-profile}"
									th:object="${user}" method="POST">
									<div class="form-row">
										<div class="form-group col-sm-6">
											<label for="firstName">First Name</label> <input type="text"
												class="form-control" id="firstName" name="firstName"
												th:value="${user.firstName}">
										</div>
										<div class="form-group col-sm-6">
											<label for="lastName">Last Name</label> <input type="text"
												class="form-control" id="lastName" name="lastName"
												th:value="${user.lastName}">
										</div>
										<div class="form-group col-sm-6">
											<label for="userName">Username</label> <input
												required="required" type="text" class="form-control"
												th:classappend="${usernameExists} ? is-invalid"
												id="userName" name="username" th:value="${user.username}">
											<div class="invalid-feedback">Username already in use.
												Choose another one.</div>
										</div>
										<div class="form-group col-sm-6">
											<label for="email">Email address</label> <input
												required="required" type="text" class="form-control"
												th:classappend="${emailExists} ? is-invalid" id="email"
												name="email" th:value="${user.email}">
											<div class="invalid-feedback">Email already used by an
												existing account.</div>
										</div>
										<div class="form-group col-sm-6">
											<label for="txtNewPassword">New password</label> <input
												type="password" class="form-control" id="txtNewPassword"
												name="newPassword" autocomplete="new-password">
										</div>
										<div class="form-group col-sm-6">
											<label for="txtConfirmPassword">Confirm password</label> <input
												type="password" class="form-control" id="txtConfirmPassword">
											<div class="invalid-feedback">Passwords do not match</div>
										</div>
										<div class="form-group col-12">
											<button id="updateUserInfoButton" type="button"
												class="btn btn-primary">Save Changes</button>
										</div>
									</div>

									<!--  Verify Password -->
									<div class="modal fade" id="passwordModal" tabindex="-1"
										role="dialog" aria-labelledby="exampleModalCenterTitle"
										aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered"
											role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLongTitle">Enter
														your current password</h5>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<input type="password" class="form-control" id="password"
														name="password">
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-primary">Update</button>
												</div>
											</div>
										</div>
									</div>
									<!--  Verify Password End-->
								</form>
							</div>
						</div>
						<!--  Profile Card End -->
					</div>
				</div>

			</div>
			<!--  End Container -->
		</div>
		<!-- Main Content End -->

	</div>
	<!-- Body Container End -->


	<!-- MOE -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>
	<script src="js/password-match.js"></script>


</body>

<footer class="fixed-bottom">
	<!-- Copyright -->
	<div class="text-center bg-info text-dark p-3 foottext">&copy;
		2021 City Library</div>
	<!-- Copyright -->
</footer>
</html>